/* Importação da fonte */
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');

/* Variáveis globais */
:root {
    --font-grande: 'TT Hoves Pro Trial', sans-serif;
    --font-pequena: 'ClashGrotesk-Light', sans-serif;
    --color-black: #000;
    --color-gray1: #3d4143;
    --color-gray2: #9c9d9d;
    --color-white: #f6f6f6;
    --color-destaque1: #e7fc00;
    --color-destaque2: #728e6f;
}

/* Reset básico */
body {
    background-color: #f5f5f5;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-grande);
    color: var(--color-white);
}

/* Sessão Principal */
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-black);
}

.profile-container {
    text-align: center;
}

.profile-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.name {
    font-size: 2.2rem;
    font-weight: lighter;
    color: var(--color-white);
    margin-bottom: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 20px;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.cta span {
    font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--color-destaque2);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: var(--font-pequena);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--color-destaque2);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: var(--color-destaque2);
}

.cta:hover svg {
    transform: translateX(0);
    stroke: var(--color-destaque1);
}

.cta:active {
    transform: scale(0.95);
}

.social {
    text-align: center;
    margin-top: 20px;
}

.links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.links li {
    margin: 0 10px;
}

.links a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 24px;
    transition: color 0.3s;
}

/* Sessão Sobre */
.about-section {
    padding: 60px 0;
    background-color: var(--color-black);
    text-align: center;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--color-white);
}

.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--color-white);
    font-weight: normal;
    text-align: justify;
}

@media (max-width: 768px) {
    .about-title {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1rem;
    }
}

/* Sessão Habilidades */
.skills {
    width: 100%;
    padding: 7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
}

.skills-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.skills-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.conteudo-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.icon-t {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: invert(1);
    margin: 0 0.9rem 0.8rem 0;
}

.skills-text {
    font-size: 1.4rem;
    color: var(--color-white);
    font-weight: normal;
    text-align: center;
    width: 30rem;
}

/* Sessão Projetos */
.projects-section {
    background-color: var(--color-black);
    padding: 60px 0;
}

.container-projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.headline-projects {
    text-align: center;
    margin-bottom: 40px;
}

.headline-projects h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.headline-projects p {
    font-size: 1.2rem;
    color: var(--color-white);
}

.conteudo-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box-project {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.288);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.box-project:hover {
    transform: translateY(-5px);
}

.project-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box-project h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 20px 10px;
    color: var(--color-white);
}

.box-project p {
    font-size: 1rem;
    color: var(--color-white);
    padding: 0 20px 20px;
    line-height: 1.6;
}

.button {
    padding: 10px;
    border: 1px solid var(--color-destaque2);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
    background-color: var(--color-destaque2);
    transition: 0.7s;
}

.button:hover {
    background-color: #4CAF50;
}

.button a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
}

@media (max-width: 768px) {
    .conteudo-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .conteudo-projects {
        grid-template-columns: 1fr;
    }
}

/* Sessão Contato */
.contact-section {
    background-color: var(--color-black);
    padding: 60px 0;
}

.contact-box {
    max-width: 440px;
    margin: 0 auto;
    padding: 20px;
}

.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header header {
    font-size: 2.5rem;
    font-weight: bold;
}

.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 1rem;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 0.3s;
}

.input-field:focus {
    width: 105%;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: var(--color-white);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 500;
    margin-left: 20px;
}

.submit-btn:hover {
    background: #4CAF50;
}