.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.8); /* Fundo com transparência */
  padding: 10px 20px;
  position: fixed;
  width: 97%; /* Faz a navbar preencher toda a largura */
  top: 0;
  left: 0;
  z-index: 1000; /* Garante que fique acima de outros elementos */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar:hover {
  backdrop-filter: blur(8px); /* Desfoca o fundo no hover */
  background-color: rgba(51, 51, 51, 0.9); /* Ajusta o fundo ligeiramente no hover */
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: lightblue;
}

/* Estilos para o efeito de linha no hover dos itens */
ul li {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .3s;
}

ul li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0; /* Espessura da linha */
  background: lightgray; /* Cor da linha */
  scale: 0 1;
  transition: .3s, translate 0s .3s;
}

ul:hover li:before {
  scale: 1;
}

ul li:hover:before {
  translate: 0;
  transition: .3s;
}

ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: .2s .2s, scale 0s .4s;
}

ul:hover li:hover ~ li:before {
  translate: -100% 0;
  transition: .2s .2s, scale 0s .4s;
}

.navbar-brand a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}