.footer {
    background-color: rgb(43, 43, 43); /* Cor de fundo do footer (pode ser alterada) */
    padding: 20px 0; /* Espaçamento superior e inferior */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Para garantir que o footer se comporte corretamente */
    bottom: 0; /* Para fixar o footer na parte inferior, se necessário */
    width: 100%; /* Para garantir que o footer ocupe toda a largura da tela */
}

.credits p {
    margin: 0; /* Remove a margem padrão do parágrafo */
    color: white; /* Cor do texto (pode ser alterada) */
    font-size: 14px; /* Tamanho da fonte (pode ser ajustado) */
}